.odder-content{
    background-color: blueviolet;
    height: 200px;
}

.odder-head{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
    color: white;
}
.mine-head{
    font-family: 'Hind Siliguri', sans-serif;
    
}
